<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mercy.flashstax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flash_stax_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavBarActivity"
            android:label="@string/title_activity_nav_bar"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>